@import "../../assets/scss/component-base";

.sidenav {
  padding: rem-calc(24);
  min-height: 100vh;
  overflow: hidden;
  width: rem-calc(360);

  &::after {
    content: "";
    background: url("https://www.flaticon.com/svg/static/icons/svg/2597/2597595.svg")
      center bottom / contain no-repeat;
    opacity: 0.03;
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: rem-calc(-80);
    left: rem-calc(-130);
    width: rem-calc(740);
  }

  mat-accordion {
    display: block;
    position: relative;
    z-index: 5;
  }

  mat-expansion-panel-header {
    h5 {
      margin: 0;
    }
  }

  .balance {
    align-items: center;
    display: flex;

    h6 {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: auto;
    }

    .icon {
      width: rem-calc(16);
      margin-left: rem-calc(4);
    }
  }

  .address {
    margin-top: rem-calc(20);

    h6 {
      margin-top: 0;
      margin-bottom: rem-calc(8);
    }

    p {
      line-break: anywhere;
    }
  }
}
