<div class="container hiw">
  <div class="hiw__section">
    <h3>First</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi voluptates ullam in recusandae dolor nobis eius, quisquam nostrum assumenda porro earum ad nulla asperiores velit aspernatur dolorem fuga, possimus nemo.</p>
  </div>
  <div class="hiw__section">
    <h3>Second</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda temporibus fuga placeat modi ipsa ut, debitis harum molestiae, quasi reprehenderit, ea aperiam quod delectus inventore expedita impedit doloremque vitae unde. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus officia autem eius ex perspiciatis quis aspernatur dolore dolorum aperiam nostrum esse reprehenderit quod, id dolorem similique? Veniam inventore quisquam nulla!</p>
  </div>
  <div class="hiw__section">
    <h3>Third</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi voluptates ullam in recusandae dolor nobis eius, quisquam nostrum assumenda porro earum ad nulla asperiores velit aspernatur dolorem fuga, possimus nemo.</p>
  </div>
  <div class="hiw__section">
    <h3>Fourth</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi voluptates ullam in recusandae dolor nobis eius, quisquam nostrum assumenda porro earum ad nulla asperiores velit aspernatur dolorem fuga, possimus nemo.</p>
  </div>
</div>
