<div class="stake-modal">
  <h3 class="text-center">Enter stake amount</h3>

  <form class="stake-modal__form">
    <mat-form-field appearance="fill">
      <mat-label>Amount</mat-label>
      <input matInput placeholder="0" />
      <mat-icon matSuffix
        ><img
          src="https://www.flaticon.com/svg/static/icons/svg/3267/3267293.svg"
          alt=""
          class="icon"
      /></mat-icon>
      <mat-hint>Max 500 essence</mat-hint>
    </mat-form-field>
    <button mat-flat-button color="primary" mat-dialog-close>Stake</button>
  </form>
</div>
