*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  max-width: rem-calc(1200);
  margin: auto;
  padding: rem-calc(0 16);
}

body {
  margin: 0;
}

.mat-tweet {
  background-color: #1da1f2;
  color: rgb(21, 32, 43);
}
