@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

$major-mono: "Major Mono Display", monospace;

$white: #fff;
$black: #000;
$primary: #ea185b;
$orange: #ff885a;
$gray: #424242;
$gray-dark: #212121;
